@using Task.Repos.Models
@model IEnumerable<Department>
@{
    ViewData["Title"] = "Home Page";
}

@* <table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Level)
            </th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <img class="rounded-circle" src="@item.Logo"/>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Level)
                </td>
              
                <td>
                    <a asp-action="Details" asp-route-id="@item.DepartmentId">Details</a> |
                </td>
            </tr>
        }
    </tbody>
</table> *@
